@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
body {
  background: #D1D1D1;
  font-family: "PT Sans";
  color: #4C4C4C;
  background-size: cover;
}

a {
  color: #cccccc;
}

a:hover {
  color: #333333;
}

p {
  margin-top: 1em;
  text-align: justify;
}

h1 {
  text-align: center;
  font-size: 6vmin;
  font-family: "Fira Sans";
  color: white;
}

h3 {
  text-align: center;
  font-size: 2.5vmax;
  margin-bottom: 20px;
  color: white;
}

.headerbox, .fineprint {
  background: rgba(76, 76, 76, 0.8);
  border-radius: 3px;
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
}

.headerbox p {
  color: white;
  text-align: center;
  font-size: 2vmax;
}

.fineprint {
  color: white;
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

small a {
  color: #7f7f7f;
  text-decoration: none;
}

.btn-pretty {
  background-color: #c9c9c9;
  font-family: "PT Sans";
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  margin-left: 3px;
  border: none;
}

.btn-pretty:hover {
  text-decoration: none;
  background-color: #636363;
  color: #fff;
}

.list {
  font-family: "PT Sans";
}

.table-responsive, table {
  background-color: #4C4C4C;
  color: #DBDBDB;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #4C4C4C;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

th {
  background-color: #333333;
  color: #DBDBDB;
  padding-left: 10px;
  padding-right: 10px;
}

tr:hover {
  background-color: #7f7f7f;
  transition: background-color 0.5s ease;
}

td {
  padding: 10px;
  border: solid 1px #636363;
}

.numbers {
  text-align: center;
}

.sort {
  padding: 8px 30px;
  margin: 2px 0 2px 0;
  border-radius: 6px;
  border: none;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #636363;
  height: 30px;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
}

.sort:hover {
  text-decoration: none;
  background-color: #c9c9c9;
  color: #333333;
}

.sort:focus {
  outline: none;
}

.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

input[type="text"] {
  width: 16vmax;
  margin-left: 1vw;
  text-align: center;
  color: #4C4C4C;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 7px 14px;
  margin-bottom: 10px;
}

input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  width: 17vmax !important;
}

input:focus::-webkit-input-placeholder, input:focus:-moz-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder {
  color: transparent;
}
